<div id='container'>
  <form name="addLinkForm" ng-submit='addLink(addLinkForm.$valid)' novalidate>
    <input name='urlfield' type='url' require ng-pattern="regex" ng-model='link' placeholder='http://'>
    <button>Create Url</button>
    <span ng-show='addLinkForm.urlfield.$error.pattern'>{{ errorMessage }}</span>
  </form>

 <div class='link info' ng-repeat="link in recent">
    <div class='link title'> {{ link.title }} </div>
    <div class='link original'> {{ link.url }} </div>
    <a href='/api/links/{{ link.code }}'> {{ link.base_url }}/{{ link.code }} </div>
  </div>

</div>


